body {
  font-family: "Courier New", Courier, monospace;
  background-color: #beb8c0;
}

h1 {
  color: #800000;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0 auto;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #0a1347;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

img {
  width: 85%;
  height: 35%;
}

.clearfix {
  padding: 0 0 10px;
  border: 0 0 10px 10px;
  margin: 0 auto;
  height: auto;
}

.icon {
  width: 100px;
}

.weather-app {
  border: 3px solid #9a2ec5;
  padding: 30px;
  margin: 30px auto;
  border-radius: 8px;
  max-width: 600px;
}

.weather-forecast {
  margin-top: 10;
  text-align: center;
}

.weather-forecast-date {
  font-size: 15px;
  color: #0a1347;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  font-size: 13px;
  padding: 0px;
}
.weather-forecast-temperature-max {
  font-size: 13px;
}
.weather-forecast-temperature {
  font-size: 8px;
  color: #800000;
}
.weather-icon {
  height: 30px;
  width: 20x;
}

.temperature {
  color: rgb(85, 5, 5);
  font-size: 55px;
  font-weight: 600;
  line-height: 1;
}

.units {
  position: relative;
  top: -30px;
}

.search-form {
  margin-bottom: 20px;
}
.footnote {
  margin: 20px auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
}
